﻿

@{
    ViewBag.Title = "HomeInfo";

}

<h2>HomeInfo</h2>
<h3>This is Home Info Page</h3>

@Html.Partial("_PartialPage1");
<h1>Razor syntax demo</h1>

<h2>@DateTime.Now.ToShortDateString()</h2>
@if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    @DateTime.Now.Year @:is a leap year.
}
else
{
    @DateTime.Now.Year @:is not a leap year<br />
}

<br />
@{
    var date = DateTime.Now.ToShortDateString();
    var message = "Hello world! This comes from code block";
    @:Today's date is: @date
    <br />
    @message
    <br />

}
<text>This is for loop</text>
<br />
@for (int i = 0; i < 5; i++)
{
    @i.ToString()
    <br />
}

