﻿@model WebApplication1.Models.Student

@{
    ViewBag.Title = "Student Details";
}

<h2>Student Details</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
        </tr>
    <tr>
       
        <td>
            @Model.ID
        </td>

   
    
        <td>
            @Model.Name
        </td>

        <td>
            @Model.Gender
        </td>

    </tr>

</table>



@*loose type hiddend field*@
@Html.Hidden("Id")

@*Strognly type*@
@Html.HiddenFor(m=>m.ID);
